cloudcoreiotcontroller.json
[{"id":"b5f19f17.c8e218","type":"tab","label":"Blk43e LED Control","disabled":false,"info":""},{"id":"418ebcaf.2762bc","type":"ui_switch","z":"b5f19f17.c8e218","name":"","label":"BLK43E Green","tooltip":"","group":"e7123751.8e074","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"g","onvalueType":"str","onicon":"","oncolor":"","offvalue":"G","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":400,"y":80,"wires":[["ef18e56f.459658"]]},{"id":"bce51a05.76f2e8","type":"ui_switch","z":"b5f19f17.c8e218","name":"","label":"BLK43E Red","tooltip":"","group":"e7123751.8e074","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"r","onvalueType":"str","onicon":"","oncolor":"","offvalue":"R","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":390,"y":140,"wires":[["ef18e56f.459658"]]},{"id":"a3136795.fb3d48","type":"comment","z":"b5f19f17.c8e218","name":"Blk43e LED Control","info":"","x":170,"y":60,"wires":[]},{"id":"cdfd38b3.79d9e8","type":"inject","z":"b5f19f17.c8e218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"g","payloadType":"str","x":150,"y":440,"wires":[["ef18e56f.459658"]]},{"id":"ef18e56f.459658","type":"mqtt out","z":"b5f19f17.c8e218","name":"","topic":"senglab2/blk43e/led","qos":"","retain":"","broker":"4d3ae4aa.e4de7c","x":880,"y":340,"wires":[]},{"id":"367d49f4.508a26","type":"inject","z":"b5f19f17.c8e218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"r","payloadType":"str","x":150,"y":500,"wires":[["ef18e56f.459658"]]},{"id":"c57ecf33.7adb2","type":"inject","z":"b5f19f17.c8e218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"b","payloadType":"str","x":150,"y":560,"wires":[["ef18e56f.459658"]]},{"id":"6974690d.9f8338","type":"inject","z":"b5f19f17.c8e218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"G","payloadType":"str","x":150,"y":680,"wires":[["ef18e56f.459658"]]},{"id":"603cf660.1119e8","type":"inject","z":"b5f19f17.c8e218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"R","payloadType":"str","x":150,"y":740,"wires":[["ef18e56f.459658"]]},{"id":"eb4ee10.ea36d2","type":"inject","z":"b5f19f17.c8e218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"B","payloadType":"str","x":150,"y":800,"wires":[["ef18e56f.459658"]]},{"id":"bd556f2.e58939","type":"inject","z":"b5f19f17.c8e218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"m","payloadType":"str","x":150,"y":620,"wires":[["3a1f8c9a.5fd6d4"]]},{"id":"e037c128.38b89","type":"inject","z":"b5f19f17.c8e218","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"M","payloadType":"str","x":150,"y":860,"wires":[["3a1f8c9a.5fd6d4"]]},{"id":"6f4f55dd.0a0adc","type":"comment","z":"b5f19f17.c8e218","name":"Ardunio Control Tester","info":"","x":190,"y":380,"wires":[]},{"id":"bf1c0c3.6e07bf","type":"comment","z":"b5f19f17.c8e218","name":"Send Control Code","info":"","x":870,"y":240,"wires":[]},{"id":"f540c2b0.59ac2","type":"ui_switch","z":"b5f19f17.c8e218","name":"","label":"BLK43E Blue","tooltip":"","group":"e7123751.8e074","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"b","onvalueType":"str","onicon":"","oncolor":"","offvalue":"B","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":390,"y":200,"wires":[["ef18e56f.459658"]]},{"id":"2a154223.518c2e","type":"ui_switch","z":"b5f19f17.c8e218","name":"","label":"BLK43E Fan","tooltip":"","group":"a643a907.706918","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"m","onvalueType":"str","onicon":"","oncolor":"","offvalue":"M","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":390,"y":260,"wires":[["3a1f8c9a.5fd6d4"]]},{"id":"3a1f8c9a.5fd6d4","type":"mqtt out","z":"b5f19f17.c8e218","name":"","topic":"senglab2/blk43e/fan","qos":"","retain":"","broker":"4d3ae4aa.e4de7c","x":880,"y":420,"wires":[]},{"id":"d805d9a7.409f28","type":"comment","z":"b5f19f17.c8e218","name":"Dashboard for sending on/off codes to Arduino","info":"on/off codes turn LED's on and off","x":210,"y":320,"wires":[]},{"id":"e7123751.8e074","type":"ui_group","name":"LED Control","tab":"1f17bc5e.f50214","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d3ae4aa.e4de7c","type":"mqtt-broker","name":"jamqtt1","broker":"192.168.1.42","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a643a907.706918","type":"ui_group","name":"Fan Control","tab":"5bc7b67b.d22458","order":2,"disp":true,"width":"6","collapse":false},{"id":"1f17bc5e.f50214","type":"ui_tab","name":"LED Control","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"5bc7b67b.d22458","type":"ui_tab","name":"Fan Control","icon":"dashboard","disabled":false,"hidden":false}]