nuc1gatewayflows.json
[{"id":"38ca2cf2.b90054","type":"tab","label":"Volatge Daq","disabled":false,"info":""},{"id":"69955553.302034","type":"tab","label":"LED Control","disabled":false,"info":""},{"id":"acec5da6.f5a178","type":"tab","label":"Temperature Control","disabled":false,"info":""},{"id":"d772719e.665ad","type":"mqtt-broker","z":"","name":"jamqtt1","broker":"192.168.1.42","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7c290bfd.6d7cdc","type":"mqtt-broker","name":"jamqtt1","broker":"192.168.1.42","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f40b8bb0.996968","type":"serial-port","z":"38ca2cf2.b90054","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"1","bin":"bin","out":"count","addchar":"","responsetimeout":"10000"},{"id":"791c6f74.404ec8","type":"serial-port","z":"38ca2cf2.b90054","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"5","bin":"false","out":"count","addchar":"","responsetimeout":"10000"},{"id":"eeaf1cea.321f6","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"5","bin":"false","out":"count","addchar":"","responsetimeout":"10000"},{"id":"ce6abda7.ce104","type":"serial-port","z":"","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"1","bin":"false","out":"count","addchar":"","responsetimeout":"10000"},{"id":"6b22fa7d.5ea934","type":"mqtt in","z":"38ca2cf2.b90054","name":"","topic":"voltage","qos":"2","datatype":"json","broker":"d772719e.665ad","x":160,"y":120,"wires":[["23f4c6e2.84fe0a"]]},{"id":"23f4c6e2.84fe0a","type":"debug","z":"38ca2cf2.b90054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":120,"wires":[]},{"id":"7c5746df.9ec13","type":"mqtt out","z":"38ca2cf2.b90054","name":"","topic":"voltage","qos":"","retain":"","broker":"d772719e.665ad","x":450,"y":220,"wires":[]},{"id":"ff74af9c.0f939","type":"inject","z":"38ca2cf2.b90054","name":"","topic":"","payload":"{\"volts\":1.01}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["7c5746df.9ec13"]]},{"id":"9cfa654a.44ccc","type":"mqtt in","z":"69955553.302034","name":"","topic":"senglab2/blk43e/led","qos":"2","datatype":"utf8","broker":"7c290bfd.6d7cdc","x":130,"y":100,"wires":[["de859070.8bb28"]]},{"id":"65348c65.5cafec","type":"inject","z":"69955553.302034","name":"","topic":"","payload":"g","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":460,"wires":[["4f168c90.7d71b4"]]},{"id":"4f168c90.7d71b4","type":"mqtt out","z":"69955553.302034","name":"","topic":"senglab2/blk43e/led","qos":"","retain":"","broker":"7c290bfd.6d7cdc","x":460,"y":660,"wires":[]},{"id":"1d01d50e.6b51e3","type":"inject","z":"69955553.302034","name":"","topic":"","payload":"r","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":520,"wires":[["4f168c90.7d71b4"]]},{"id":"862d7908.5e7f98","type":"inject","z":"69955553.302034","name":"","topic":"","payload":"b","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":580,"wires":[["4f168c90.7d71b4"]]},{"id":"effca16b.dc61f","type":"inject","z":"69955553.302034","name":"","topic":"","payload":"G","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":700,"wires":[["4f168c90.7d71b4"]]},{"id":"e54a5a00.867af","type":"inject","z":"69955553.302034","name":"","topic":"","payload":"R","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":760,"wires":[["4f168c90.7d71b4"]]},{"id":"2e12d234.c1d81e","type":"inject","z":"69955553.302034","name":"","topic":"","payload":"B","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":820,"wires":[["4f168c90.7d71b4"]]},{"id":"46decc31.74e44c","type":"comment","z":"69955553.302034","name":"Ardunio Control Tester","info":"","x":190,"y":400,"wires":[]},{"id":"30651d9e.8b6e6a","type":"comment","z":"69955553.302034","name":"Read Control Code","info":"","x":140,"y":60,"wires":[]},{"id":"efb1aa4f.8ce588","type":"comment","z":"69955553.302034","name":"Send Control Code","info":"","x":470,"y":620,"wires":[]},{"id":"8eacb460.40b81","type":"comment","z":"69955553.302034","name":"Send to the Arduino","info":"","x":530,"y":60,"wires":[]},{"id":"fa7417f8.392dd8","type":"debug","z":"acec5da6.f5a178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":120,"wires":[]},{"id":"b02ccc3c.19bf88","type":"comment","z":"acec5da6.f5a178","name":"Arduino TMP36 Temp Reading","info":"","x":180,"y":80,"wires":[]},{"id":"bbd7e6fd.5118e8","type":"comment","z":"acec5da6.f5a178","name":"Manual Fan Control","info":"","x":180,"y":500,"wires":[]},{"id":"76e8e4a3.259cdc","type":"inject","z":"acec5da6.f5a178","name":"","topic":"","payload":"m","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":560,"wires":[["c7fb0a10.d4aa18"]]},{"id":"2d7279c5.f43a36","type":"inject","z":"acec5da6.f5a178","name":"","topic":"","payload":"M","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["c7fb0a10.d4aa18"]]},{"id":"c7fb0a10.d4aa18","type":"mqtt out","z":"acec5da6.f5a178","name":"","topic":"senglab2/blk43e/fan","qos":"","retain":"","broker":"7c290bfd.6d7cdc","x":400,"y":580,"wires":[]},{"id":"f9d94e97.170b38","type":"mqtt out","z":"acec5da6.f5a178","name":"","topic":"senglab2/blk43e/temp","qos":"","retain":"","broker":"7c290bfd.6d7cdc","x":490,"y":180,"wires":[]},{"id":"19fcdc72.267e5c","type":"mqtt in","z":"acec5da6.f5a178","name":"","topic":"senglab2/blk43e/fan","qos":"2","datatype":"auto","broker":"7c290bfd.6d7cdc","x":160,"y":300,"wires":[["d671ee9e.fc726"]]},{"id":"e38421bc.0898c","type":"comment","z":"acec5da6.f5a178","name":"Testing via MQTT","info":"","x":410,"y":500,"wires":[]},{"id":"9a11389e.a3435","type":"serial in","z":"acec5da6.f5a178","name":"Arduino Temp","serial":"eeaf1cea.321f6","x":150,"y":120,"wires":[["fa7417f8.392dd8","f9d94e97.170b38"]]},{"id":"de859070.8bb28","type":"serial out","z":"69955553.302034","name":"","serial":"eeaf1cea.321f6","x":570,"y":100,"wires":[]},{"id":"d671ee9e.fc726","type":"serial out","z":"acec5da6.f5a178","name":"Arduino Fan","serial":"eeaf1cea.321f6","x":470,"y":300,"wires":[]}]